body {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 50px;
    margin: 0;
    font-style: italic;
    font-size: 50px;
}

#input-section {
    text-align:center;
}

input {
    width: 65%;
    border: solid black 3px;
    border-radius: 10px;
    color: black;
    margin: 0;
    height: 30px;
}

#add-task-button {
    width: 5%;
    background-color: #e7e7e7;
    color: black;
    height: 38px;
    margin: 0;
    border-radius: 10px;
}


#task-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


li {
    font-size: 35px;
    border-bottom: black solid 2px;
    margin-left: -450px;
    padding: 0;
}

.checkbox-input {
    position: relative;
    padding: 0;
    vertical-align: middle;
}

span {
    position: relative;
    vertical-align: middle;
    margin-left: -500px;
}

.delete-btn {
    background-color: #e7e7e7;
    border-radius: 10px;
    color: black;
    padding: 0;
    margin-top: 7px;
    margin-right: 50px;
    margin-right: 115px;
    width: 4%;
    float: right;
    height: 30px;
}

li:hover {
    background: #ddd;
}